@inherits MonthView

@Render

@code {

    protected override RenderFragment RenderHeader => __builder =>
    {
        for (var i = 0; i < Columns - (ShowTotalColumn ? 1 : 0); i++)
        {
            <div class="mud-cal-month-header">
                @RenderDayTitle(i)
            </div>
        }

        if (ShowTotalColumn)
        {
            <div class="mud-cal-month-header">Total</div>
        }
    };

    protected override RenderFragment RenderBody => __builder =>
    {
        base.RenderBody(__builder);
        
        if (TotalCalendar.ShowMonthTotal)
        {
            RenderMonthTotalRow(__builder);
        }
    };

    protected override RenderFragment RenderCell(CalendarCell cell) => __builder =>
    {
        if (((TotalCell)cell).WeekTotal)
        {
            @RenderWeekTotalCell(cell)
        }
        else if (((TotalCell)cell).MonthTotal)
        {
            @RenderMonthTotalCell(cell)
        }
        else
        {
            @RenderDayTotalCell(cell)
        }
    };

    /// <summary>
    /// Renders the last row of the grid that shows the month total.
    /// </summary>
    protected virtual RenderFragment RenderMonthTotalRow => __builder =>
    {
        for (var i = 0; i < Columns - 1; i++)
        {
            <div></div>
        }
        
        @RenderMonthTotalCell(Cells.Last())
    };

    /// <summary>
    /// Renders the contents of a day total cell.
    /// </summary>
    protected virtual RenderFragment RenderDayTotalCell(CalendarCell cell) => __builder =>
    {
        @RenderCellDayNumber(cell)
        if (TotalCalendar.ShowDayTotal)
        {
            foreach (var value in ((TotalCell)cell).Values)
            {
                @RenderTotal(value)
            }
        }
        @RenderCellContents(cell)
    };

    /// <summary>
    /// Renders a cell that shows totals for the week.
    /// </summary>
    protected virtual RenderFragment RenderWeekTotalCell(CalendarCell cell) =>
        @<div class="mud-cal-month-cell mud-cal-total-cell">
            <div class="mud-cal-month-cell-title">Week Total</div>
            @foreach (var value in ((TotalCell)cell).Values)
            {
                @RenderTotal(value)
            }
        </div>;

    /// <summary>
    /// Renders a cell that shows the totals for the month.
    /// </summary>
    protected virtual RenderFragment RenderMonthTotalCell(CalendarCell cell) =>
        @<div class="mud-cal-month-cell mud-cal-total-cell">
            <div class="mud-cal-month-cell-title">Month Total</div>
            @foreach (var value in ((TotalCell)cell).Values)
            {
                @RenderTotal(value)
            }
        </div>;

    /// <summary>
    /// Renders the totals.
    /// </summary>
    protected virtual RenderFragment RenderTotal(Value value) =>
        @<div class="@GetTotalClassname(value.Definition)" style="@GetTotalStyle(value.Definition)">
            @TotalCalendar.TotalTemplate.Invoke(value)
        </div>;

}